.card {
  min-height: 90vh;
}

/* Larger screens */
@media (max-width: 2000px) and (min-width: 1399px) {
  .card {
    min-width: 1399px;
    max-width: 1399px;
  }
}

/* Medium screens */
@media (max-width: 1400px) and (min-width: 1000px) {
  .card {
    min-width: 1000px;
  }
}

/* Smaller screens */
@media (max-width: 999px) and (min-width: 769px) {
  .card {
    min-width: 769px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .card {
    min-width: 100%; /* Take the full width for smaller screens */
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .title {
    font-family:
      Greycliff CF,
      sans-serif;
    font-weight: 700;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: rem(22px);
    margin-top: var(--mantine-spacing-xs);
  }
}
 
@media (max-width: 2000px) and (min-width: 769px) {
 .title {
    font-family:
      Greycliff CF,
      sans-serif;
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: rem(32px);
    margin-top: var(--mantine-spacing-xs);
  }
}
  
  .category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
  }

.slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.activeSlide {
  display: block;
  opacity: 1;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.buttonContainer2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  position: absolute;
  gap: 5px;
  bottom: 20px; /* Adjust the distance from the bottom */
  width: 100%;
}

.button {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}