.icon {
    width: rem(22px);
    height: rem(22px);
  }
  
  .dark {
    @mixin dark {
      display: none;
    }
  
    @mixin light {
      display: block;
    }
  }
  
  .light {
    @mixin light {
      display: none;
    }
  
    @mixin dark {
      display: block;
    }
  }

  .mantine-drawer-title {
    font-family: 'Poppins', sans-serif;
    color: var(--mantine-drawer-title-color);
  }

  .custom-drawer .mantine-drawer-title {
    font-family: 'Poppins', sans-serif;
    color: red !important;
  }

  .drawerContent {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
  }  

  /* styles.css*/ 
@media (min-width: 48em) {
  .flex-row-md {
    flex-direction: row;
  }
}

.wrapper {
  margin: 20px 20px; /* Adjust the margin values as per your requirement */
  padding-top: 80px; /* Adjust the padding to match the header height */
  box-sizing: border-box; /* Include padding in the total height */
  overflow-y: ''; /* Enable scrolling for the content */
  height: calc(100vh - 0px); /* Set the height to the viewport height */
  /*z-index: 10; /* Adjust the z-index as needed */
}

.homeTitle {
  margin: 20px 20px; /* Adjust the margin values as per your requirement */
}

/* Demo.module.css */

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100; /* Adjust the z-index as needed */
  background-color: var(--header-background, rgba(32, 32, 32, 1)); /*Set the background color as needed */
  padding: 1px;
  box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1);
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.body {
  font-family: 'Poppins', sans-serif;
  padding-top: 1px; /* Should be equal to the height of your fixed header */
}

.contentContainer {
  padding-top: 10px; /* Adjust the top padding to match the height of your fixed header */
}

/* MyBookCard.module.css */
.cardWrapper {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cardWrapper:hover {
  transform: scale(1.05);
}

.cardWrapper2 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cardWrapper2:hover {
  transform: translateY(-10px);
}

.footer {
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: auto;
  z-index: auto;
  border-top: 1px solid #000000;
  padding: 10px;
  opacity: 0.7;
}

.footerTitle {
  text-align: center;
  opacity: 0.7;
}